{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center">Об авторе</h1>
    <div class="row">
        <div class="col-md-4">
            <img class="avatar" src="{{ url_for('static', filename='images\avatar-lazybones-sloth-svgrepo-com.png') }}" alt="">
        </div>
        <div class="col-md-8 text-justify d-flex align-items-center">
            <p>
                Создала сайт Кутузова Валерия Андреевна, студентка группы 221-352.
                Было очень интересно и круто и я не хочу тут использовать рыбу.
            </p>
        </div>
    </div>
{% endblock %}